@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{

    --black:#0e0e0e;
    --white:#ffffff;
    --blue:#0026ff;
}
body{
    background-color: var(--black);
    color: var(--white);
    animation: fadeIn 1s ease-in-out;
    transition: 0.07s ease-in-out;


}
.title1{
    /* margin: 0 auto; */
    /* margin-left: -150px; */
    margin-top: 100px;
    left:50px;
    font-size:6rem;
    animation: fadeIn 1s ease-in-out;
    

}
.title2{
    margin: 0 auto;
    /* margin-left: -150px; */
    margin-top: -50px;
    left:50px;
    font-size:6rem;
    animation: fadeIn 2s ease-in-out;
    
    


}
.title2:hover{
    cursor: pointer;
    text-shadow: 2px 2px 10px var(--blue);
    

}
.metabutton1{
    /* margin-left: 50px; */
    margin: 0 auto;
    
    color: var(--white);
    padding: 15px;
    background-color: var(--blue);
    /* border-radius: 10px; */
    font-weight: 700;
    margin-top: 20px;
    width: 300px;
    transition: 0.07s ease;
    animation: fadeIn 2s ease;

}
.metabutton1:hover{
    transform: scale(1.1);
    box-shadow: -17px 16px 0px -7px rgb(255, 255, 255);
    -webkit-box-shadow: -17px 16px 0px -7px rgb(255, 255, 255);
    -moz-box-shadow: -17px 16px 0px -7px rgb(255, 255, 255);

}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

