:root{
    --black:#0e0e0e;
    --white:#ffffff;
    --blue:#0026ff;
    --marginthree : 50px;
}

body{
    background-color: var(--black);
}

.watch{
    border: 3px solid var(--blue);
    border-radius: 20px;
    margin: 30px;
}

.watchtitle{
    color: var(--white);
    font-weight: 700;
    margin: 30px;
    margin-left: 30rem;

}